@keyframes hologram {
  0% {
      transform: translateY(5px);
      color: aqua;
  }
  50% {
      transform: translateY(-5px);
      color: turquoise;
  }
  100% {
      transform: translateY(5px);
      color: teal;
  }
}

.animate-hologram {
  animation: hologram 3s ease-in-out infinite alternate;
}




.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 50s ease infinite alternate;
  -moz-animation: animatedgradient 50s ease infinite alternate;
  animation: animatedgradient 100s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.glitchy {
  animation: glitch .1s infinite;
}

@keyframes glitch {
  0% {
    transform: none;
  }
  25% {
    transform: skew(-5deg);
  }
  50% {
    transform: skew(5deg);
  }
  75% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(2deg);
  }
}


